{% extends 'app/base.html' %}

{% block content %}
  <h1>Pets</h1>
 {% if authenticate.is_staff %}
  <a href="{% url 'pet_create' %}" class="btn btn-primary">Add New Pet</a>
 {% endif %}
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Status</th>
        <th>View</th>
        <th>Apply</th>
        {% if request.user.is_staff %}
        <th>Update</th>
        <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for pet in pets %}
        <tr>
          <td>{{ pet.name }}</td>
          <td>{{ pet.species }}</td>
          <td>{{ pet.get_status_display }}</td>
          <td>
            <a href="{% url 'pet_detail' pet.pk %}" class="btn btn-info">View</a>
          </td>
          <td>
            <a href="{% url 'adoption_application_create' %}?pet_id={{ pet.pk }}" class="btn btn-success">Apply for Adoption</a>
          </td>
          {% if request.user.is_staff %}
          <td>
            <a href="{% url 'pet_update' pet.pk %}" class="btn btn-warning">Edit</a>
          </td>
          <td>
            <a href="{% url 'pet_delete' pet.pk %}" class="btn btn-danger">Delete</a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% if authenticate.is_staff %}
  <table class="table mt-3">
    <thead>
        <tr>
            <th>Applicant</th>
            <th>Pet</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>{{ application.user.username }}</td>
            <td>{{ application.pet.name }}</td>
            <td>{{ application.status }}</td>
            <td>
                {% if request.user.is_staff and application.status == 'Pending' %}
                    <a href="{% url 'approve_application' application.id %}" class="btn btn-success">Approve</a>
                    <a href="{% url 'reject_application' application.id %}" class="btn btn-danger">Reject</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock content %}
